<ocean>
	<tor>true</tor>
	<height>10</height>
	<width>50</width>
	<flows>
		<flow>LEFT</flow>
		<flow>RIGHT</flow>
		<flow>NONE</flow>
		<flow>NONE</flow>
		<flow>LEFT</flow>
		<flow>LEFT</flow>
		<flow>RIGHT</flow>
		<flow>NONE</flow>
		<flow>NONE</flow>
		<flow>RIGHT</flow>
	</flows>
	<changeFlow>10</changeFlow>
	<sharks>
		<shark>
			<lifetime>80</lifetime>
			<progenyPeriod>2</progenyPeriod>
			<searchRadius>4</searchRadius>
			<hungerTime>40</hungerTime>
			<location>
				<x>0</x>
				<y>1</y>
			</location>
		</shark>
		<shark>
			<lifetime>80</lifetime>
			<progenyPeriod>1</progenyPeriod>
			<searchRadius>4</searchRadius>
			<hungerTime>40</hungerTime>
			<location>
				<x>5</x>
				<y>3</y>
			</location>
		</shark>
		<shark>
			<lifetime>80</lifetime>
			<progenyPeriod>1</progenyPeriod>
			<searchRadius>4</searchRadius>
			<hungerTime>40</hungerTime>
			<location>
				<x>7</x>
				<y>19</y>
			</location>
		</shark>
		<shark>
			<lifetime>80</lifetime>
			<progenyPeriod>1</progenyPeriod>
			<searchRadius>4</searchRadius>
			<hungerTime>40</hungerTime>
			<location>
				<x>3</x>
				<y>40</y>
			</location>
		</shark>
	</sharks>
	<smallFishes>
		<fish>
			<lifetime>20</lifetime>
			<progenyPeriod>2</progenyPeriod>
			<searchRadius>1</searchRadius>
			<location>
				<x>0</x>
				<y>7</y>
			</location>
		</fish>
		<fish>
			<lifetime>20</lifetime>
			<progenyPeriod>2</progenyPeriod>
			<searchRadius>1</searchRadius>
			<location>
				<x>5</x>
				<y>2</y>
			</location>
		</fish>
		<fish>
			<lifetime>20</lifetime>
			<progenyPeriod>2</progenyPeriod>
			<searchRadius>1</searchRadius>
			<location>
				<x>5</x>
				<y>7</y>
			</location>
		</fish>
		<fish>
			<lifetime>20</lifetime>
			<progenyPeriod>2</progenyPeriod>
			<searchRadius>1</searchRadius>
			<location>
				<x>4</x>
				<y>4</y>
			</location>
		</fish>
		<fish>
			<lifetime>20</lifetime>
			<progenyPeriod>2</progenyPeriod>
			<searchRadius>1</searchRadius>
			<location>
				<x>9</x>
				<y>40</y>
			</location>
		</fish>
	</smallFishes>
</ocean>